asgiref
contourpy
crispy
crispy-bootstrap5
cycler
dj-database-url
Django
django-crispy-forms
django-heroku
django-widget-tweaks
fabio
fonttools
greenlet
gunicorn
h5py
hdf5plugin
kiwisolver
lxml
matplotlib
packaging
pillow
platformdirs
psycopg
psycopg2
psycopg2-binary
pyparsing
PyQt6
PyQt6-Qt6
PyQt6_sip
python-dateutil
python-decouple
pytz
scipy
silx
six
SQLAlchemy
sqlparse
typing_extensions
tzdata
whitenoise
xraydb
